In [ ]:
# Bechdel Rating: The actual score. Number from 0 to 3 
# 0 means no two women
# 1 means no talking
# 2 means talking about a man 
# 3 means it passes the test

In [1]:
# Dependencies
import requests
from pprint import pprint
import pandas as pd

award_IMDB_csv_path = "awards_IMDB_IDs.csv"
award_movie_df = pd.read_csv(award_IMDB_csv_path, dtype=str)
topgross_IMDB_csv_path = "topgross_IMDB_IDs.csv"
topgross_movie_df = pd.read_csv(topgross_IMDB_csv_path, dtype=str)
award_IMDB_IDs = award_movie_df["IMDB ID"]
award_movie_df.head()

,Unnamed: 0,category,year,Movie Title,IMDB ID
0,0,OUTSTANDING PICTURE,1927,Wings,0018578
1,1,OUTSTANDING PICTURE,1928,The Broadway Melody,0019729
2,2,OUTSTANDING PRODUCTION,1929,All Quiet on the Western Front,0020629
3,3,OUTSTANDING PRODUCTION,1930,Cimarron,0021746
4,4,OUTSTANDING PRODUCTION,1931,Grand Hotel,0022958

In [2]:
url = "http://bechdeltest.com/api/v1/getMovieByImdbId?imdbid="

bechdel_scores = []
movie_found = []
movie_not_found = []

# Build query URL
for movie in award_IMDB_IDs:
    query_url = url + movie

    try:
        movie_request = requests.get(query_url).json()
        bechdel_score = movie_request['rating']
        bechdel_scores.append(bechdel_score)
    
    except:
        bechdel_scores.append("Unknown")
print(bechdel_scores)

[1, 3, 0, 3, 3, 3, 3, 1, 3, 1, 'Unknown', 3, 3, 3, 3, 1, 'Unknown', 2, 2, 'Unknown', 1, 1, 3, 1, 'Unknown', 3, 0, 3, 1, 1, 2, 3, 3, 3, 0, 3, 3, 3, 1, 1, 'Unknown', 1, 'Unknown', 1, 2, 1, 2, 2, 1, 3, 1, 1, 2, 1, 'Unknown', 1, 3, 3, 0, 3, 1, 3, 1, 3, 3, 3, 1, 2, 3, 3, 3, 3, 0, 1, 3, 1, 3, 3, 1, 3, 1, 1, 3, 1, 3, 3, 3, 1, 1, 3, 1, 3]

In [3]:
award_movie_df["Bechdel Score"] = bechdel_scores
award_movie_df

,Unnamed: 0,category,year,Movie Title,IMDB ID,Bechdel Score
0,0,OUTSTANDING PICTURE,1927,Wings,0018578,1
1,1,OUTSTANDING PICTURE,1928,The Broadway Melody,0019729,3
2,2,OUTSTANDING PRODUCTION,1929,All Quiet on the Western Front,0020629,0
3,3,OUTSTANDING PRODUCTION,1930,Cimarron,0021746,3
4,4,OUTSTANDING PRODUCTION,1931,Grand Hotel,0022958,3
...,...,...,...,...,...,...
87,87,BEST PICTURE,2015,Spotlight,1895587,1
88,88,BEST PICTURE,2016,Moonlight,4975722,1
89,89,BEST PICTURE,2017,The Shape of Water,5580390,3
90,90,BEST PICTURE,2018,Green Book,6966692,1
91,91,BEST PICTURE,2019,Parasite,6751668,3

In [4]:
award_movie_df.to_csv('awards_bechdel_tocomplete.csv', index=False, header=True)

In [7]:
topgross_movie_IDs = topgross_movie_df["IMDB ID"]
topgross_movie_df.head()

,Year,Movie ID,Movie Title,Revenue,IMDB ID
0,1927,287262,The Battles of the Coronel and Falkland Islands,6241682,0221007
1,1928,173689,Lights of New York,1200000,0019096
2,1929,65203,The Broadway Melody,4358000,0019729
3,1930,166307,Tom Sawyer,11000000,0070814
4,1931,3035,Frankenstein,12000000,0021884

In [8]:
url = "http://bechdeltest.com/api/v1/getMovieByImdbId?imdbid="

topgross_bechdel_scores = []
movie_found = []
movie_not_found = []

# Build query URL
for movie in topgross_movie_IDs:
    query_url = url + movie

    try:
        movie_request = requests.get(query_url).json()
        bechdel_score = movie_request['rating']
        topgross_bechdel_scores.append(bechdel_score)
    
    except:
        topgross_bechdel_scores.append("Unknown")
print(topgross_bechdel_scores)

['Unknown', 'Unknown', 3, 'Unknown', 1, 3, 0, 2, 1, 0, 3, 'Unknown', 3, 1, 1, 1, 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 0, 'Unknown', 3, 3, 'Unknown', 3, 3, 2, 2, 1, 3, 3, 'Unknown', 3, 3, 3, 1, 3, 'Unknown', 2, 0, 1, 1, 'Unknown', 2, 3, 1, 3, 'Unknown', 1, 1, 1, 0, 3, 3, 1, 0, 2, 2, 3, 1, 0, 3, 3, 0, 3, 1, 1, 3, 3, 1, 3, 0, 3, 3, 1, 3, 1, 2, 3, 3, 2, 3, 3, 1, 3, 3, 'Unknown', 3, 'Unknown', 3, 3]

In [13]:
final_topgross_bechdel_scores = ['Unknown', 'Unknown', 3, 'Unknown', 1, 3, 0, 2, 1, 0, 3, 'Unknown', 3, 1, 1, 1, 'Unknown', 'Unknown', 'Unknown', 'Unknown', 'Unknown', 0, 'Unknown', 3, 3, 'Unknown', 3, 3, 2, 2, 1, 3, 3, 2, 3, 3, 3, 1, 3, 'Unknown', 2, 0, 1, 1, 'Unknown', 2, 3, 1, 3, 'Unknown', 1, 1, 1, 0, 3, 3, 1, 0, 2, 2, 3, 1, 0, 3, 3, 0, 3, 1, 1, 3, 3, 1, 3, 0, 3, 3, 1, 3, 1, 2, 3, 3, 2, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3]

In [14]:
topgross_movie_df["Bechdel Score"] = final_topgross_bechdel_scores
topgross_movie_df

,Year,Movie ID,Movie Title,Revenue,IMDB ID,Bechdel Score
0,1927,287262,The Battles of the Coronel and Falkland Islands,6241682,0221007,Unknown
1,1928,173689,Lights of New York,1200000,0019096,Unknown
2,1929,65203,The Broadway Melody,4358000,0019729,3
3,1930,166307,Tom Sawyer,11000000,0070814,Unknown
4,1931,3035,Frankenstein,12000000,0021884,1
...,...,...,...,...,...,...
88,2015,140607,Star Wars: The Force Awakens,2068223624,7768640,3
89,2016,271110,Captain America: Civil War,1153296293,3498820,3
90,2017,181808,Star Wars: The Last Jedi,1332539889,3486354,3
91,2018,299536,Avengers: Infinity War,2046239637,4154756,3
92,2019,299534,Avengers: Endgame,2797800564,4154796,3

In [11]:
topgross_movie_df.to_csv('topgross_bechdel_tocomplete.csv', index=False, header=True)

In [12]:
topgross_bechdel_csv_path = "topgross_bechdel_tocomplete.csv"
topgross_movieb_df = pd.read_csv(topgross_bechdel_csv_path)
topgross_bechmore_scores = topgross_movieb_df["Bechdel Score"]
print(topgross_bechmore_scores)

0     Unknown
1     Unknown
2           3
3     Unknown
4           1
       ...
88          3
89          3
90          3
91          3
92          3
Name: Bechdel Score, Length: 93, dtype: object

In [ ]:
for row in award_movie_df:
    if award_movie_df.loc(award_movie_df["Bechdel Score"] == "Unknown"):
        print(award_movie_df["Movie Title"])

In [ ]:
url = "http://bechdeltest.com/api/v1/getMovieByImdbId?imdbid="
movie_ID = "0166307"
query_url = url + movie_ID

movie_request = requests.get(query_url).json()
bechdel_score = movie_request['rating']
movie_title = movie_request['title']
print(f"{movie_title}'s Bechdel Score is {bechdel_score}")

In [6]:
url = "http://bechdeltest.com/api/v1/getMoviesByTitle?title="

movie = "gandhi"
# Build query URL
query_url = url + movie
movie_request = requests.get(query_url).json()
bechdel_score = movie_request[0]['rating']
pprint(movie_request)

IndexError: list index out of range

In [ ]:
pprint(movie_request)

In [ ]:
movies_to_search = ['The Broadway Melody', 'The Great Ziegfeld', 'The Life of Emile Zola', "You Can't Take It with You", 'Going My Way', 'The Lost Weekend', 'The Best Years of Our Lives', "Gentleman's Agreement", "All the King's Men", 'The Greatest Show on Earth', 'The Bridge on the River Kwai', 'The Apartment', 'The Sound of Music', 'Oliver!', 'Patton', 'The French Connection', 'The Godfather', 'The Sting', 'The Godfather Part II', "One Flew over the Cuckoo's Nest", 'The Deer Hunter', 'Gandhi', 'The Last Emperor', 'The Silence of the Lambs', "Schindler's List", 'The English Patient', 'The Lord of the Rings: The Return of the King', 'The Departed', 'The Hurt Locker', "The King's Speech", 'The Artist', 'Birdman or (The Unexpected Virtue of Ignorance)', 'The Shape of Water', 'Parasite']
for movie in range(len(movies_to_search)): 
    if "The" in movies_to_search[movie]:
        movies_to_search[movie] = movies_to_search[movie].replace("The", "").strip()
print(movies_to_search)

In [ ]:
print(movie_not_found)

In [ ]:
url = "http://bechdeltest.com/api/v1/getMoviesByTitle?title="

# Search for articles that mention granola
# movie = "mission impossible"
bechdel_scores_two = []
movie_not_found_two = []

# Build query URL
for movie in movies_to_search:
    query_url = url + movie

    # Request articles
    try:
        movie_request = requests.get(query_url).json()
        bechdel_score = movie_request[0]['rating']
        bechdel_scores_two.append(bechdel_score)
#         print(f"{movie}'s bechdel score is {bechdel_score}")

    # The "response" property in articles contains the actual articles
    # list comprehension.
    
    except:
        # Append null values
#         print("Movie not found")
        movie_not_found_two.append(movie)
        bechdel_scores_two.append("Unknown")
print(movie_not_found_two)

In [ ]:
bechdel_df = pd.DataFrame({
    'Movie Title': movie_found,
    'Bechdel Score': bechdel_scores
})
bechdel_first_round.head()

In [ ]:
merge_df = pd.merge(award_movie_df, bechdel_first_round, on="Movie Title")
merge_df